<div class="modal-window-container">
  <div class="modal-window-content">
    <div class="close-button" (click)="onModalClose()">&times;</div>
    <h1>Terms and conditions</h1>

    <p>
      Please read all these terms and conditions.
    </p>

    <p>
      As we can accept your order and make a legally enforceable agreement without further reference to you, you must read these
      terms and conditions to make sure that they contain all that you want and nothing that you are not happy with. If you
      are not sure about anything, just phone us on 0208 123 9005.
    </p>

    <div class="row">
      <div class="col-md-12">
        <h2>Application</h2>
        <div class="paragraph">
          <div class="number">1.</div>
          <div class="text">
            These Terms and Conditions will apply to the purchase of the services and goods by you (the <strong>Customer</strong>            or <strong>you</strong>). We are SK Accountants Limited whose trading name is Speedy Accounts Online a company
            registered in England and Wales under number 08614670 whose registered office is at 45 Gillender Street, London,
            E14 6RN with email address info@skaccountantslondon.com; telephone number 0208 123 9005; (the <strong>Supplier</strong>            or <strong>us</strong> or <strong>we</strong>).
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">2.</div>
          <div class="text">
            These are the terms on which we sell all Services to you. Before placing an order on the Website, you will be asked to agree
            to these Terms and Conditions by clicking on the check box marked 'I agree to terms of conditions'. If you do
            not click on the button, you will not be able to complete your Order. You can only purchase the Services and
            Goods from the Website if you are eligible to enter into a contract and are at least 18 years old.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Interpretation</h2>
        <div class="paragraph">
          <div class="number">3.</div>
          <div class="text">
            <strong>Consumer</strong> means an individual acting for purposes which are wholly or mainly outside his or her
            trade, business, craft or profession;
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">4.</div>
          <div class="text">
            <strong>Contract</strong> means the legally-binding agreement between you and us for the supply of the Services;
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">5.</div>
          <div class="text">
            <strong>Delivery Location</strong> means the Supplier's premises or other location where the Services are to
            be supplied, as set out in the Order;
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">6.</div>
          <div class="text">
            <strong>Durable Medium</strong> means paper or email, or any other medium that allows information to be addressed
            personally to the recipient, enables the recipient to store the information in a way accessible for future reference
            for a period that is long enough for the purposes of the information, and allows the unchanged reproduction of
            the information stored;
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">7.</div>
          <div class="text">
            <strong>Goods</strong> means any goods that we supply to you with the Services, of the number and description
            as set out in the Order;
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">8.</div>
          <div class="text">
            <strong>Order</strong> means the Customer's order for the Services from the Supplier as submitted following the
            step by step process set out on the Website;
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">9.</div>
          <div class="text">
            <strong>Privacy Policy</strong> means the terms which set out how we will deal with confidential and personal
            information received from you via the Website;
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">10.</div>
          <div class="text">
            <strong>Services</strong> means the services advertised on the Website, including any Goods, of the number and
            description set out in the Order;
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">11.</div>
          <div class="text">
            <strong>Website</strong> means our website https://speedyaccountsonline.co.uk/ on which the Services are advertised.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Services</h2>
        <div class="paragraph">
          <div class="number">12.</div>
          <div class="text">
            The description of the Services and any Goods is as set out in the Website, catalogues, brochures or other form of advertisement.
            Any description is for illustrative purposes only and there may be small discrepancies in the size and colour
            of any Goods supplied.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">13.</div>
          <div class="text">
            In the case of Services and any Goods made to your special requirements, it is your responsibility to ensure that any information
            or specification you provide is accurate.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">14.</div>
          <div class="text">
            All Services which appear on the Website are subject to availability.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">15.</div>
          <div class="text">
            We can make changes to the Services which are necessary to comply with any applicable law or safety requirement. We will
            notify you of these changes.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Customer responsibilities</h2>
        <div class="paragraph">
          <div class="number">16.</div>
          <div class="text">
            You must co-operate with us in all matters relating to the Services, provide us and our authorised employees and representatives
            with access to any premises under your control as required, provide us with all information required to perform
            the Services and obtain any necessary licences and consents (unless otherwise agreed).
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">17.</div>
          <div class="text">
            Failure to comply with the above is a Customer default which entitles us to suspend performance of the Services until you
            remedy it or if you fail to remedy it following our request, we can terminate the Contract with immediate effect
            on written notice to you.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Personal information</h2>
        <div class="paragraph">
          <div class="number">18.</div>
          <div class="text">
            We retain and use all information strictly under the Privacy Policy
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">19.</div>
          <div class="text">
            We may contact you by using e-mail or other electronic communication methods and by pre-paid post and you expressly agree
            to this.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Basis of Sale</h2>
        <div class="paragraph">
          <div class="number">20.</div>
          <div class="text">
            The description of the Services and any Goods in our website does not constitute a contractual offer to sell the Services
            or Goods. When an Order has been submitted on the Website, we can reject it for any reason, although we will
            try to tell you the reason without delay.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">21.</div>
          <div class="text">
            The Order process is set out on the Website. Each step allows you to check and amend any errors before submitting the Order.
            It is your responsibility to check that you have used the ordering process correctly
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">22.</div>
          <div class="text">
            A Contract will be formed for the Services ordered only when you receive an email from us confirming the Order (<strong>Order Confirmation</strong>).
            You must ensure that the Order Confirmation is complete and accurate and inform us immediately of any errors.
            We are not responsible for any inaccuracies in the Order placed by you. By placing an Order you agree to us giving
            you confirmation of the Contract by means of an email with all information in it (ie the Order Confirmation).
            You will receive the Order Confirmation within a reasonable time after making the Contract, but in any event
            not later than the delivery of any Goods supplied under the Contract, and before performance begins of any of
            the Services
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">23.</div>
          <div class="text">
            Any quotation or estimate of Fees (as defined below) is valid for a maximum period of 7 days from its date, unless we expressly
            withdraw it at an earlier time.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">24.</div>
          <div class="text">
            No variation of the Contract, whether about description of the Services, Fees or otherwise, can be made after it has been
            entered into unless the variation is agreed by the Customer and the Supplier in writing.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">25.</div>
          <div class="text">
            We intend that these Terms and Conditions apply only to a Contract entered into by you as a Consumer. If this is not the
            case, you must tell us, so that we can provide you with a different contract with terms which are more appropriate
            for you and which might, in some respects, be better for you, eg by giving you rights as a business.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Fees and Payment</h2>
        <div class="paragraph">
          <div class="number">26.</div>
          <div class="text">
            The fees (<strong>Fees</strong>) for the Services, the price of any Goods (if not included in the Fees) and any
            additional delivery or other charges is that set out on the Website at the date we accept the Order or such other
            price as we may agree in writing. Prices for Services may be calculated on a fixed price or on a standard daily
            rate basis.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">27.</div>
          <div class="text">
            Fees and charges include VAT (where applicable) at the rate applicable at the time of the Order.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">28.</div>
          <div class="text">
            You must pay by submitting your credit or debit card details with your Order and we can take payment immediately or otherwise
            before delivery of the Services.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Delivery</h2>
        <div class="paragraph">
          <div class="number">29.</div>
          <div class="text">
            We will deliver the Services, including any Goods, to the Delivery Location by the time or within the agreed period or, failing
            any agreement:
            <ol>
              <li>in the case of Services, within a reasonable time; and</li>
              <li>in the case of Goods, without undue delay and, in any event, not more than 30 days after the day on which the
                Contract is entered into.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">30.</div>
          <div class="text">
            In any case, in regard to events within our control, if we do not deliver the Services on time, you can require us to reduce
            the Fees or charges by an appropriate amount (including the right to receive a refund for anything already paid
            above the reduced amount).
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">31.</div>
          <div class="text">
            If you treat the Contract at an end, we will (in addition to other remedies) promptly return all payments made under the
            Contract.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Withdrawal and cancellation</h2>
        <div class="paragraph">
          <div class="number">32.</div>
          <div class="text">
            You can withdraw the Order by telling us before the Contract is made, if you simply wish to change your mind and without
            giving us a reason, and without incurring any liability.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">33.</div>
          <div class="text">
            This is a <strong>distance contract</strong> (as defined below) which has the cancellation rights (<strong>Cancellation
                  Rights</strong>) set out below. These Cancellation Rights, however, do not apply, to a contract for the
            following goods and services (with no others) in the following circumstances:
            <ol>
              <li>accommodation, transport of goods, vehicle rental services, catering or services related to leisure activities,
                if the contract provides for a specific date or period of performance;</li>
              <li>Services that are made to your specifications or are clearly personalised, which will account for most of services
                provided by the supplier. </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Right to cancel</h2>
        <div class="paragraph">
          <div class="number">34.</div>
          <div class="text">
            Subject as stated in these Terms and Conditions, you can cancel this contract within 14 days without giving any reason. If
            your services are not personalised.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">35.</div>
          <div class="text">
            To exercise the right to cancel, you must inform us of your decision to cancel this Contract by a clear statement setting
            out your decision (eg a letter sent by post, fax or email. In any event, you must be able to show clear evidence
            of when the cancellation was made.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Conformity</h2>
        <div class="paragraph">
          <div class="number">36.</div>
          <div class="text">
            We will supply the Services with reasonable skill and care.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">37.</div>
          <div class="text">
            We will provide the following after-sales service: The supplier will support the customer with queries regarding works completed
            by the supplier.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">38.</div>
          <div class="text">
            In relation to the Services, anything we say or write to you, or anything someone else says or writes to you on our behalf,
            about us or about the Services, is a term of the Contract (which we must comply with) if you take it into account
            when deciding to enter this Contract, or when making any decision about the Services after entering into this
            Contract. Anything you take into account is subject to anything that qualified it and was said or written to
            you by us or on behalf of us on the same occasion, and any change to it that has been expressly agreed between
            us (before entering this Contract or later).
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Duration, termination and suspension</h2>
        <div class="paragraph">
          <div class="number">39.</div>
          <div class="text">
            The Contract continues as long as it takes us to perform the Services.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">40</div>
          <div class="text">
            Either you or we may terminate the Contract or suspend the Services at any time by a written notice of termination or suspension
            to the other if that other:
            <ol>
              <li>commits a serious breach, or series of breaches resulting in a serious breach, of the Contract and the breach
                either cannot be fixed or is not fixed within 30 days of the written notice; or</li>
              <li>is subject to any step towards its bankruptcy or liquidation.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">41.</div>
          <div class="text">
            On termination of the Contract for any reason, any of our respective remaining rights and liabilities will not be affected.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">42.</div>
          <div class="text">
            Either party can transfer the benefit of this Contract to someone else, and will remain liable to the other for its obligations
            under the Contract. The Supplier will be liable for the acts of any subcontractors who it chooses to help perform
            its duties.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Circumstances beyond the control of either party</h2>
        <div class="paragraph">
          <div class="number">43.</div>
          <div class="text">
            In the event of any failure by a party because of something beyond its reasonable control:
            <ol>
              <li>the party will advise the other party as soon as reasonably practicable; and</li>
              <li>the party's obligations will be suspended so far as is reasonable, provided that that party will act reasonably,
                and the party will not be liable for any failure which it could not reasonably avoid, but this will not affect
                the Customer's above rights relating to delivery (and the right to cancel below).
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Excluding liability</h2>
        <div class="paragraph">
          <div class="number">44.</div>
          <div class="text">
            The Supplier does not exclude liability for: (i) any fraudulent act or omission; or (ii) death or personal injury caused
            by negligence or breach of the Supplier's other legal obligations. Subject to this, we are not liable for (i)
            loss which was not reasonably foreseeable to both parties at the time when the Contract was made, or (ii) loss
            (eg loss of profit) to your business, trade, craft or profession which would not be suffered by a Consumer -
            because we believe you are not buying the Services and Goods wholly or mainly for your business, trade, craft
            or profession.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Governing law, jurisdiction and complaints</h2>
        <div class="paragraph">
          <div class="number">45.</div>
          <div class="text">
            The Contract (including any non-contractual matters) is governed by the law of England and Wales.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">46.</div>
          <div class="text">
            Disputes can be submitted to the jurisdiction of the courts of England and Wales
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">47.</div>
          <div class="text">
            We try to avoid any dispute, so we deal with complaints as follows: If a dispute occurs customers should contact us to find
            a solution. We will aim to respond with an appropriate solution within 5 working days.
          </div>
        </div>
      </div>
    </div>


  </div>
</div>