.modal-window-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modal-window-content {
    max-width: 900px;
    background-color: #ffffff;
    padding: 32px;
    margin: 32px;
    border-radius: 8px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    max-height: 95vh;
    overflow-y: scroll;

    .close-button {
      position: absolute;
      top: 8px;
      right: 8px;
      margin: 8px;
      width: 32px;
      height: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, .5);
      border-radius: 50%;
      color: #ffffff;
      font-size: 1.5em;
      line-height: 1.5em;
      cursor: pointer;
    }

    ol{
      counter-reset: item;
    
      li {
        // margin: 8px 0;
        display: block;
        margin-bottom: .5em;
        
        &::before {
          display: inline-block;
          content: counter(item, lower-alpha) ". ";
          counter-increment: item;
          margin-right: .8em;
        }
      }
    }
    
    ul {
      li {
        display: block;
        margin-bottom: .5em;
    
        &::before {
          display: inline-block;
          content: "-";
          // margin-right: .8em;
          text-indent: -20px;
        }
      }
    }
    
    .paragraph {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin-top: 1em;
    
      .number {
        margin-right: 1em;
      }
    
      .text {
        flex: 1;
      }
    }
    
    h2, h4 {
      color: #000000;
    }
    
    a.btn {
      display: inline-block;
      margin: 16px 0;
    }
    
    a.btn:hover {
      color: #ffffff;
    }


  }
}

::-webkit-scrollbar {
	width: 8px;
  background-color: #F5F5F5;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: #555;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}