<div class="container">
  <div class="col-md-12">
    <h1 class="no-bottom-margin">Contact Us</h1>
    <h2 class="no-top-margin">0208 123 9005</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">

        <!-- FIRST NAME -->
        <div class="col-md-6">
          <input type="text" name="first_name" placeholder="First Name" [(ngModel)]="contactDetails.firstName.value">
        </div>
        <!-- LAST NAME -->
        <div class="col-md-6">
          <input type="text" name="last_name" placeholder="Last Name" [(ngModel)]="contactDetails.lastName.value">
        </div>
        <!-- EMAIL -->
        <div class="col-md-12">
          <input type="email" name="email" placeholder="Email address" [(ngModel)]="contactDetails.email.value">
        </div>
        <!-- TELEPHONE NUMBER -->
        <div class="col-md-12">
          <input type="text" name="telephone_number" placeholder="Telephone Number" [(ngModel)]="contactDetails.phoneNumber.value">
        </div>
        <!-- MESSAGE -->
        <div class="col-md-12">
          <textarea type="text" name="message" rows="4" placeholder="Message" [(ngModel)]="contactDetails.message.value"></textarea>
        </div>

        <div class="col-md-12 centered-content">
          <button class="btn" (click)="onSendMessage()">{{sendMessageButtonText}}</button>
        </div>

        <div class="col-md-12 t-margin centered-content">
          <p class="light-font">Or just email us at the following address:</p>
          <h2 class="no-top-margin email">team@speedyaccountsonline.co.uk</h2>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer [showLinkedIn]="true"></app-footer>