@import '../../../assets/mixins.scss';

h1 {
  font-size: 50px;
  font-family: "geomanistlight", sans-serif;
}

h2 {
  font-size: 30px;
  font-family: "geomanistlight", sans-serif;
  text-align: center;

  @include respond-to($phone) {
    font-size: 18px;
  }
}

input,
textarea {
  background-color: #ffe4d4;
  border: 1px solid #ffe4d4;
  border-radius: 10px;
  width: 100%;
  padding: 8px 16px;
  font-family: "geomanistlight", sans-serif;
  font-size: 16px;
  outline: none;
  margin: 8px 0;
  transition: all .25s ease-in-out;
}

input:focus,
textarea:focus {
  border: 1px solid darken(#dde4d4, 30%);
}

textarea {
  width: 100%;
}

button.btn {
  border-radius: 10px;
  font-family: "geomanistmedium", sans-serif;
  padding: 8px 30px;
  font-size: 17px;
}

.light-font {
  font-family: "geomanistlight", sans-serif;
}

h2.email {
  border-bottom: 2px solid #ffebdf;
}