<app-steps [currentStep]="1"></app-steps>

<div class="container">
  <div class="row">
    <!--ToDo: Fix offset-->
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h4>Hey</h4>
      <h3>
        {{ personsWithSignificantControl[0].name_elements.forename }} {{ personsWithSignificantControl[0].name_elements.surname }}
      </h3>

      <h4>Your annual accounts filing deadline is</h4>
      <h3>{{ companyDetails.accounts.next_due | amDateFormat:'DD MMMM YYYY' }}</h3>

      <h4>for your company</h4>
      <h3>{{ companyDetails.company_name }}</h3>
    </div>
    <div class="col-md-3 centered-content">
      <img src="./assets/img/5-days-turn-around.png" class="resp-img main-image" />
    </div>
  </div>

  <!--BUTTON-->
  <div class="row">
    <div class="col-md-12">
      <div class="centered-content">
        <button class="btn" (click)="onContinue()">Continue</button>
      </div>
    </div>
  </div>

  <div class="row no-bottom-margin">
    <div class="col-md-12">
      <h1>Why You Should Choose Speedy<br/>To Prepare Your Accounts...</h1>
    </div>
  </div>

  <!--LINE-->
  <div class="row no-top-margin">
    <div class="col-md-12 centered-content">
      <img src="./assets/img/line.png" />
    </div>
  </div>

  <!--STEP 1-->
  <div class="row">
    <div class="col-md-4 centered-content hide-on-mobile">
      <img src="./assets/img/vector1.png" class="resp-img" />
    </div>
    <div class="col-md-8 side-content">
      <div class="top">
        <div class="number">1</div>
        <h2>Fully Compliant<br />100% Compliant with Companies House Required format</h2>
      </div>
      <div class="text">
        Companies House require annual accounts to be prepared in a specific format, any divergence from this format can lead to
        documents being rejected and companies penalised for late, amended returns.<br />
        <br /> Allow our professionals to prepare your accounts in the exact format required by Companies House and avoid
        all the stress.
      </div>
    </div>
  </div>

  <!--STEP 2-->
  <div class="row">
    <div class="col-md-8 side-content">
      <div class="top">
        <div class="number">2</div>
        <h2>Guaranteed Accuracy<br/>Accepted first time or your money back</h2>
      </div>
      <div class="text">
        We are so confident in the accuracy in our work that if Companies House reject your accounts on the first submission, we
        will correct your accounts, file them and give you your money back! You wont find such a win-win situation very often!
      </div>
    </div>
    <div class="col-md-4 centered-content hide-on-mobile">
      <img src="./assets/img/vector2.png" class="resp-img" />
    </div>
  </div>

  <!--STEP 3-->
  <div class="row">
    <div class="col-md-4 centered-content hide-on-mobile">
      <img src="./assets/img/vector3.png" class="resp-img" />
    </div>
    <div class="col-md-8 side-content">
      <div class="top">
        <div class="number">3</div>
        <h2>Lifetime Support<br/>Lifetime support on your accounts</h2>
      </div>
      <div class="text">
        If you have any questions in regards to the accounts we prepare, you can contact us whenever you like for as long as you
        like and we will answer your questions, even if you decide to move on from us – which we say is extremely unlikely
        based on our 98% client retention rate!
      </div>
    </div>
  </div>

  <!--STEP 4-->
  <div class="row">
    <div class="col-md-8 side-content">
      <div class="top">
        <div class="number">4</div>
        <h2>No Penalties*<br/>We will ensure your accounts will be filed on time - No Late filing penalties</h2>
      </div>
      <div class="text">
        As long as we receive all neccesary documents within 5 working days of the deadline, we will ensure that we will meet your
        filing deadline.<br />
        <br /> Our professionally competent team have been trained to work together under extreme pressure and to tight deadlines.
        Our 5 day challenge has not been lost so far!
      </div>
    </div>
    <div class="col-md-4 centered-content hide-on-mobile">
      <img src="./assets/img/vector4.png" class="resp-img" />
    </div>
  </div>

  <!--STEP 5-->
  <div class="row">
    <div class="col-md-4 centered-content hide-on-mobile">
      <img src="./assets/img/vector5.png" class="resp-img" />
    </div>
    <div class="col-md-8 side-content">
      <div class="top">
        <div class="number">5</div>
        <h2>No Outsourcing<br/>Full set of accounts prepared by our in-house qualified accountants</h2>
      </div>
      <div class="text">
        We believe that there is a point where customer experience takes preference over profit margins and thats why we strive to
        give a great service to our clients.<br />
        <br /> Part of this experience is to be able to pick up the phone and speak to your accountant who has a good understanding
        of the local economic environment.
      </div>
    </div>
  </div>

  <!--STEP 6-->
  <div class="row">
    <div class="col-md-8 side-content">
      <div class="top">
        <div class="number">6</div>
        <h2>Price Match Guarantee<br/>If you are able to find a lower price, we will match any like for like quote for annual
          accounts
        </h2>
      </div>
      <div class="text">
        We have designed a system to make the process of preparing annual accounts very simple and quick and fo this reason we can
        pass on cost savings to our clients.<br />
        <br /> This is why we can offer a price match guarantee. All we need is evidence of a like for like quote before
        you sign up and we will aim to match it.
      </div>
    </div>
    <div class="col-md-4 centered-content hide-on-mobile">
      <img src="./assets/img/vector6.png" class="resp-img" />
    </div>
  </div>

  <!--STEP 7-->
  <div class="row">
    <div class="col-md-4 centered-content hide-on-mobile">
      <img src="./assets/img/vector7.png" class="resp-img" />
    </div>
    <div class="col-md-8 side-content">
      <div class="top">
        <div class="number">7</div>
        <h2>Super Turnaround Time<br/>Accounts prepared in less than 5 days</h2>
      </div>
      <div class="text">
        For those who have left their accounts to the last minute, no need to panic just yet! Just give us a call on 020 7515 5883
        and we will let you know right away if we can meet your deadline, even if it is less than 5 days away!
      </div>
    </div>
  </div>

  <!--BUTTON-->
  <div class="row">
    <div class="col-md-12">
      <div class="centered-content">
        <button class="btn" (click)="onContinue()">Continue</button>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>