@import "../../../assets/mixins";

.main-image {
  @include respond-to($phone) {
    margin-top: 64px;
  }
}

.row {
  margin: 64px 0;
}

h4 {
  @include respond-to($phone) {
    text-align: center;
  }
}

h3 {
  @include respond-to($phone) {
    text-align: center;
  }
}

h2 {
  @include respond-to($phone) {
    font-size: 19px;
  }
}

.side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @include respond-to($phone) {
      flex-direction: column;
    }

    .number {
      width: 70px;
      height: 70px;
      background: url("../../../assets/img/oval.png") no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 33px;
      color: #ffffff;
      margin-right: 25px;

      @include respond-to($phone) {
        width: 50px;
        height: 50px;
        font-size: 26px;
        background-size: 50px;
      }
    }

    h2 {
      flex: 1;

      @include respond-to($phone) {
        text-align: center;
      }
    }
  }

  .text {
    font-size: 17px;
    color: #8a8a8a;
    margin-left: 95px;

    @include respond-to($phone) {
      display: none;
    }
  }
}