<div class="container t-margin">
  <div class="row">
    <div class="col-md-12">

      <div class="footer">

        <div class="left">
          <!-- <div class="logo">
            <a routerLink="/home" routerLinkActive="active">
                  <img src="./assets/img/logo.png" />
                </a>
          </div> -->
          <div class="copyright">&copy; 2017, Speedy Accounts Online</div>
        </div>

        <div class="center">
          <div id="linked-in-recommend"></div>
        </div>

        <div class="right">
          <a routerLink="/privacy-policy">Privacy Policy</a>
          <a routerLink='/terms-of-use'>Terms of Use</a>
          <!-- <a href="#">Contact Us</a> -->
        </div>

      </div>

    </div>
  </div>
</div>