@import '../../../assets/mixins.scss';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  border-top: 1px solid #ededed;

  @include respond-to($phone) {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    .logo {
      img {
        width: 130px;
      }
    }
    .copyright {
      text-align: left;
      flex: 1;
    }
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include respond-to($phone) {
      margin: 8px 0;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    a {
      display: inline-block;
      margin: 0 8px;
    }
  }
}
