@import "../../../assets/mixins";

.text {
  margin: 16px 0 8px 0;

  @include respond-to($phone) {
    text-align: center;
  }
}

button.btn.btn-disabled {
  background-color: #f8f8f8;
  border: 2px solid #f2f2f2;
  color: #6e6e6e;
  padding: 14px 0;
  width: 100%;
  font-size: 17px;
}

.gray-box {
  background-color: #fafafa;
  padding: 16px 64px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-apply-coupon {
  margin-top: 16px;
}

label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .label-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    .img-container {
      @include respond-to($phone) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

  }
}

.err-msg {
  color: #dc3545 !important;
  margin-left: 32px;
}