<app-steps [currentStep]="4"></app-steps>

<div class="container">

  <div class="row">

    <div class="col-md-9">


      <div class="row">
        <!-- ToDo: Fix offset -->
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h1 class="no-bottom-margin">Contact information</h1>
          <h5 class="text-center">Fields marked with * are mandatory</h5>
        </div>
      </div>

      <div class="row t-margin">
        <div class="col-md-1"></div>
        <div class="col-md-10">

          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="text">First name:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="customerInfo.firstName.value" />
                <!-- <small class="form-text text-danger">Please fill in the above field.</small> -->
                <small class="err-msg" *ngIf="customerInfo.firstName.error">Please fill in the above field.</small>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <div class="text">Last name:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="customerInfo.lastName.value" />
                <small class="err-msg" *ngIf="customerInfo.lastName.error">Please fill in the above field.</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div>
                <div class="text">E-mail address:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="customerInfo.email.value" />
                <small class="err-msg" *ngIf="customerInfo.email.error">Please fill in the above field.</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div>
                <div class="text">Telephone number:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="customerInfo.phoneNumber.value" />
                <small class="err-msg" *ngIf="customerInfo.phoneNumber.error">Please fill in the above field.</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div>
                <div class="text">Address:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="customerInfo.address.value" />
                <small class="err-msg" *ngIf="customerInfo.address.error">Please fill in the above field.</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="text">City:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="customerInfo.city.value" />
                <small class="err-msg" *ngIf="customerInfo.city.error">Please fill in the above field.</small>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <div class="text">Post Code:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="customerInfo.postCode.value" />
                <small class="err-msg" *ngIf="customerInfo.postCode.error">Please fill in the above field.</small>
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-12">
              <div>
                <div class="text">Discount coupon:</div>
                <div class="row">
                  <div class="col-md-8">
                    <input type="text" class="inpt-field" />
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-disabled btn-apply-coupon">Apply Coupon</button>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

        </div>
      </div>

      <div class="row t-margin">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h1 class="no-bottom-margin">Payment information</h1>
          <h5 class="text-center">Fields marked with * are mandatory</h5>
        </div>
      </div>

      <div class="row t-margin">
        <div class="col-md-1"></div>
        <div class="col-md-10">

          <div class="row">
            <div class="col-md-6 centered-content">
              <label class="label">
                <input type="radio" name="payment" value="card" [(ngModel)]="paymentMethod">
                <span class="label-text">
                  <div class="img-container">
                    <img src="./assets/img/cards.png" />
                  </div>
                </span>
              </label>
            </div>
            <div class="col-md-6 centered-content">
              <label class="label">
                <input type="radio" name="payment" value="paypal" [(ngModel)]="paymentMethod" (click)="onPayPalSelected()">
                <span class="label-text">
                  <div class="img-container">
                    <img src="./assets/img/paypal.png" />
                  </div>
                </span>
              </label>
            </div>
          </div>

          <div class="row" *ngIf="paymentMethod == 'card'">
            <div class="col-md-8">
              <div>
                <div class="text">Card number:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="cardInfo.number" />
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <div class="text">CVV:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="cardInfo.cvv" />
              </div>
            </div>
          </div>

          <div class="row" *ngIf="paymentMethod == 'card'">
            <div class="col-md-6">
              <div>
                <div class="text">Expiration month:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="cardInfo.expiration_month" />
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <div class="text">Expiration year:*</div>
                <input type="text" class="inpt-field" [(ngModel)]="cardInfo.expiration_year" />
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="row t-margin">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h1>Order summary</h1>
        </div>
      </div>

      <div class="row t-margin">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="gray-box">
            <h6 class="no-top-margin">Total:</h6>
            <h5>&pound;{{ totalPrice | number : '1.2-2' }}</h5>
          </div>
        </div>
      </div>

      <div class="row t-margin" [ngClass]="{ 'b-margin': paymentMethod == 'card' }">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="centered-content">
            <div class="left-content">
              <label>
                <input type="checkbox" [(ngModel)]="customerInfo.tac.value" />
                <span class="label-text">I agree to&nbsp;
                  <a href="#" (click)="onTACShow($event)">Terms and Conditions</a>
                </span>
              </label>
              <label>
                <input type="checkbox" [(ngModel)]="customerInfo.marketingEmails.value" />
                <span class="label-text">I want to receive marketing emails</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row b-margin" [style.visibility]="paymentMethod=='paypal' ? 'hidden' : 'visible'">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="centered-content">
            <button class="btn" (click)="onSubmitOrder()">Submit your order</button>
          </div>
        </div>
      </div>

      <div class="row b-margin" [style.visibility]="paymentMethod=='paypal' ? 'visible' : 'hidden'">
        <div class="col-md-1"></div>
        <div class="col-md-10 centered-content">
          <div id="paypal-button"></div>
        </div>
      </div>



    </div>

    <div class="col-md-3">
      <app-quote-sidebar [topGap]="300" [maxTopOffset]="750"></app-quote-sidebar>
    </div>

  </div>

</div>

<app-footer></app-footer>