<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
  
        <div class="header-container">
  
          <div class="menu-icon" (click)="onHamburgerMenuClicked()">
            <img [src]="menuIcon" />
          </div>
  
          <div class="logo">
            <a routerLink="/" routerLinkActive="active">
              <img src="./assets/img/logo-new.png" />
            </a>
          </div>
  
          <ul class="nav-menu" [ngClass]="{ 'opened': menuOpened }">
            <li><a routerLink="/about-us" routerLinkActive="active">About</a></li>
            <li><a href="https://www.speedyaccountsonline.co.uk/blog">Blog</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li *ngIf="showStartHere"><a href="/" class="hovered">Start Here</a></li>
          </ul>
        </div>
  
      </div>
    </div>
  </div>
</div>