@import "../../../assets/mixins";

.header {
  background: #FFFFFF;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.0467618);
  padding: 20px;
  margin-bottom: 10px;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .menu-icon {
      display: none;

      @include respond-to($phone) {
        display: block;
      }
    }

    .logo {

      @include respond-to($phone) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      img {
        max-width: 185px;

        @include respond-to($phone) {
          width: 130px;
        }
      }
    }
    
    .nav-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;

      @include respond-to($phone) {
        display: none;
      }

      &.opened {
        @include respond-to($phone) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          background-color: #ffffff;
          position: fixed;
          top: 90px;
          left: 0;
          z-index: 1;
          box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.0467618);
        }
      }

      li {
        margin-left: 8px;

        a {
          display: block;
          text-decoration: none;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          color: #333333;
          padding: 10px 20px;
          border-radius: 444px;
          border: 2px solid transparent;
          font-family: "geomanistregular", sans-serif;
          cursor: pointer;
          transition: all .15s ease-in-out;
  
          &:hover {
            color: #ff6600;
            border: 2px solid #ff6600;
          }

          &.hovered {
            color: #ff6600;
            border: 2px solid #ff6600;
          }
  
          @include respond-to($phone) {
            padding: 16px;
          }
        }
      }
    }
  }
}
