<div class="sidebar" [style.marginTop.px]="fixedSidebarMarginTop">

  <div class="box t-margin" *ngIf="showGetStarted">
    <div class="info get-started">
      <div class="icon">
        <i class="fa fa-gbp" aria-hidden="true"></i>
      </div>
      <h1>Need to file your accounts?</h1>
      <div class="line"></div>
      <a routerLink="/" class="btn">Let's get started</a>
    </div>
  </div>

  <div class="box" *ngIf="showServicesIncluded">
    <div class="info">
      <h6>Company Name</h6>
      {{companyInfo.company_name}}
    </div>
    <div class="info">
      <h6>Services included</h6>
      <div *ngFor="let service of servicesIncluded">{{service}}</div>
    </div>
    <div class="info" *ngIf="showYourPremium">
      <h6>Your Quote</h6>
      <h5>&pound;{{totalPrice | number : '1.2-2'}}</h5>
      <!-- <small>inclusive of VAT</small> -->
    </div>
    <div class="info centered-content" *ngIf="showYourPremium">
      <button class="btn t-margin" (click)="onEmailQuote()">Email Quote</button>
      <!-- <h5 class="t-margin">Need Some Help?</h5> -->
      <!-- <button *ngIf="!liveChatVisible" class="btn btn-white btn-livechat" (click)="onStartLiveChat($event)">Live Chat</button> -->
      <!-- <div appLivechat [licenseId]="licenseId"></div> -->
    </div>
  </div>

  <div class="t-margin" *ngIf="showLiveChat">
    <app-live-chat></app-live-chat>
  </div>

  <div class="t-margin" *ngIf="showTestimonials">
    <div class="box">
      <div class="info">
        <app-testimonials></app-testimonials>
      </div>
    </div>
  </div>

  <div class="t-margin" *ngIf="showFacebookPageWidget">

    <fb-page href="https://www.facebook.com/Speedy-Accounts-Online-242043392928765/" tabs="timeline" smallHeader="true" width="255"
      hideCover="false" showFacepile="true">
    </fb-page>

  </div>

  <!-- <div class="info centered-content t-margin">
    <button class="btn">Live Chat</button>
  </div> -->
</div>