@import "../../../assets/mixins";

.sidebar {
  @include respond-to($phone) {
    display: none;
    margin-top: 0 !important;
  }

  .btn-livechat {
    margin-top: 32px;
  }

  .box {
    // border: 2px solid #777777;
    border: 2px solid #545454;
    border-radius: 8px;
    padding: 16px;
    
    .info {
      font-size: 15px;
      text-align: center;

      h6 {
        font-family: "geomanistmedium", sans-serif;
      }
    }
  }

  .get-started {
    .icon {
      border: 3px solid #ff6600;
      border-radius: 50%;
      width: 55px;
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      i.fa {
        font-size: 2em;
        color: #ff6600;
      }
    }

    h1 {
      font-size: 30px;
      font-family: 'geomanistmedium', sans-serif;
      margin-bottom: 8px;
    }

    .line {
      display: block;
      width: 30px;
      height: 2px;
      background-color: #ff6600;
      margin: 0 auto 16px auto;
    }

    a.btn {
      display: inline-block;
    }
  }
}