<div class="modal-container" *ngIf="emailQuoteModal.visible">

  <div class="modal">
    <div class="title">Email quote</div>
    <div class="body">
      <!-- <div>Please enter your email address.</div> -->
      <div>
        <input
          type="email"
          [(ngModel)]="email"
          class="inpt-field"
          placeholder="Your email address" />
      </div>
    </div>
    <div class="footer">
      <button class="btn" (click)="onSend()">Send</button>
      <button class="btn btn-white" (click)="onCloseModal()">Cancel</button>
    </div>
  </div>

</div>