<app-steps [currentStep]="5"></app-steps>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="no-bottom-margin">Thank you for your purchase!</h1>
      <h2 class="text-center">Check your inbox, your username and password are waiting for you!</h2>
    </div>
  </div>

  <div class="row t-margin">
    <div class="col-md-6">
      <img src="./assets/img/man.png" class="resp-img" />
    </div>
    <div class="col-md-6 centered-content">

      <app-live-chat style="width: 350px;"></app-live-chat>

    </div>
  </div>

</div>

<app-footer></app-footer>
