.input-row {
  font-size: 22px;
  line-height: 50px;
  margin: 16px 0;
}

.checkbox-row {
  font-size: 17px;
  color: #d6d6d6;
  margin: 16px 0;
}

.button-row {
  margin: 32px 0;
}

.disclaimer-row {
  font-size: 15px;
  color: #d6d6d6;
  margin-top: 64px;
}

.margin-top {
  margin-top: 64px;
}

.margin-bottom {
  margin-bottom: 64px;
}