<app-steps [currentStep]="2"></app-steps>

<div class="container">

  <div class="row no-bottom-margin">
    <div class="col-md-9">
      <h1>Company Requirements</h1>
    </div>
  </div>

  <!--LINE-->
  <div class="row no-top-margin margin-bottom">
    <div class="col-md-9 centered-content">
      <img src="./assets/img/line.png"/>
    </div>
  </div>

  <!--QUESTIONS-->
  <div class="row">
    <div class="col-md-9">
      <app-multichoice-question
          *ngFor="let key of packageDetails | keys"
          [packageKey]="key"
          [enabled]="!(packageDetails['actively_trading'].options['dormant'].selected && key != 'actively_trading')">
      </app-multichoice-question>
    </div>
    <div class="col-md-3">
      <app-quote-sidebar
        [topGap]="490"
        [maxTopOffset]="500"
        [showLiveChat]="false"
        [showTestimonials]="true"
        [showYourPremium]="false"
        [showFacebookPageWidget]="true">
      </app-quote-sidebar>
    </div>
  </div>

  <!-- <div class="row input-row margin-top">
    <div class="col-md-2"></div>
    <div class="col-md-2">Email address:</div>
    <div class="col-md-6"><input class="inpt-field" type="text"></div>
  </div> -->

  <!-- <div class="row input-row">
    <div class="col-md-2"></div>
    <div class="col-md-2">First name:</div>
    <div class="col-md-6"><input class="inpt-field" type="text"></div>
  </div> -->

  <!-- <div class="row input-row margin-bottom">
    <div class="col-md-2"></div>
    <div class="col-md-2">Surname:</div>
    <div class="col-md-6"><input class="inpt-field" type="text"></div>
  </div> -->

  <!-- <div class="row checkbox-row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <label>
        <input type="checkbox" />
        <span class="label-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
      </label>
    </div>
  </div> -->

  <!-- <div class="row checkbox-row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <label>
        <input type="checkbox" />
        <span class="label-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
      </label>
    </div>
  </div> -->

  <!--BUTTON-->
  <div class="row button-row margin-bottom">
    <div class="col-md-9">
      <div class="centered-content">
        <button class="btn" (click)="onContinue()">Instant Quote</button>
      </div>
    </div>
  </div>

  <!-- <div class="row disclaimer-row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor iure obcaecati sed totam veritatis. Adipisci
      aliquam at beatae commodi culpa doloribus ea error, est, et eveniet excepturi facilis fuga fugit in ipsam ipsum
      molestias quaerat quis quos sequi similique sunt tempore voluptate! Blanditiis commodi deleniti dolorem ea earum
      exercitationem expedita explicabo facere fuga iure iusto laboriosam molestias nobis omnis, pariatur porro quasi
      reiciendis sapiente sed velit vero voluptas voluptates! Accusamus dolore ducimus excepturi harum necessitatibus
      repudiandae soluta tempore, voluptatum? Aut blanditiis magni quia recusandae repellendus sapiente suscipit velit.
      Debitis dolores explicabo iste iure mollitia necessitatibus nobis numquam officiis, tenetur ullam?
    </div>
  </div> -->

</div>

<app-footer></app-footer>
