@import '../../../assets/mixins.scss';

.box {
  border: 2px solid #f7f7f7;
  border-radius: 8px;
  padding: 16px;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
  
    .icon {
      margin-right: 16px;
  
      svg {
        width: 20px;
  
        .check-svg {
          fill: #7bb837;
        }
      }
    }
    .text {
      font-size: 18px;
      color: #303030;
      flex: 1;
    }
  }
}

.btns {

  @include respond-to($phone) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.text-muted {
  font-size: 15px;
  color: #d6d6d6;
}
