<app-steps [currentStep]="3"></app-steps>

<div class="container">

  <div class="row">
    <!-- ToDo: Fix offset -->
    <div class="col-md-9">
      <h1>Your Quote</h1>
    </div>
  </div>

  <!--LINE-->
  <div class="row no-top-margin margin-bottom">
    <div class="col-md-9 centered-content">
      <img src="./assets/img/line.png" />
    </div>
  </div>

  <div class="row t-margin">
    <div class="col-md-9">

      <div class="box">
        <h1 class="no-bottom-margin">Total Cost</h1>
        <h1 class="no-top-margin">&pound;{{totalPrice | number : '1.2-2'}}</h1>
      </div>

      <h2 class="alt">What Am I Paying For?</h2>

      <div class="box">
        <div class="row">
          <div class="col-md-6 item-container" *ngFor="let item of items">

            <div class="item">
              <div class="icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 406.834 406.834" style="enable-background:new 0 0 406.834 406.834;" xml:space="preserve">
                  <polygon class="check-svg" points="385.621,62.507 146.225,301.901 21.213,176.891 0,198.104 146.225,344.327 406.834,83.72"></polygon>
                </svg>
              </div>
              <div class="text">{{item}}</div>
            </div>

          </div>
        </div>
      </div>

      <h2 class="alt">What else is included for FREE?</h2>

      <div class="box">
        <div class="row">
          <div class="col-md-6 item-container" *ngFor="let itemFree of itemsFree">

            <div class="item">
              <div class="icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 406.834 406.834" style="enable-background:new 0 0 406.834 406.834;" xml:space="preserve">
                  <polygon class="check-svg" points="385.621,62.507 146.225,301.901 21.213,176.891 0,198.104 146.225,344.327 406.834,83.72"></polygon>
                </svg>
              </div>
              <div class="text" [innerHTML]="itemFree"></div>
            </div>

          </div>
        </div>
      </div>

      <app-remove-from-quote [packageKey]="'bookkeeping'">
      <!-- <app-remove-from-quote [packageKey]="'bookkeeping'" *ngIf="packageDetails['bookkeeping'].options['yes'].selected"> -->
      </app-remove-from-quote>

      <app-remove-from-quote [packageKey]="'vat'">
      <!-- <app-remove-from-quote [packageKey]="'vat'" *ngIf="packageDetails['vat'].options['notFiled'].selected"> -->
      </app-remove-from-quote>

      <app-remove-from-quote [packageKey]="'employer'">
      <!-- <app-remove-from-quote [packageKey]="'employer'" *ngIf="packageDetails['employer'].options['notFiled'].selected"> -->
      </app-remove-from-quote>

      <div class="row t-margin b-margin">
        <div class="col-md-12 btns">
          <button class="btn btn-white" (click)="goToRequirements()">Back to requirements</button>
          <button class="btn" (click)="onEmailQuote()">Email Quote</button>
          <button class="btn btn-green" (click)="onContinue()">Continue</button>
        </div>
      </div>

      <!-- <hr class="t-margin"> -->

      <!-- <div class="text-muted">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam cumque commodi deleniti sequi facilis rem quidem natus
        qui odit vero, blanditiis nulla. Laborum, hic quibusdam. Maxime repudiandae aliquam recusandae, quam distinctio reiciendis
        laborum corporis officia saepe placeat quos repellendus neque provident tenetur inventore vel quidem voluptates alias
        harum cupiditate iusto? Quos voluptates aut magni ea laudantium quidem, consequatur eos vero similique adipisci atque
        nihil pariatur labore fugiat, quo sed aperiam aliquid temporibus expedita accusamus explicabo. Assumenda iusto praesentium
        repellat excepturi ratione, minus, labore corrupti ex magnam nostrum accusantium in nemo voluptate, iure molestias
        similique earum asperiores dolores nisi repudiandae doloremque?
      </div> -->

    </div>
    <div class="col-md-3 fixed-side">
      <app-quote-sidebar [topGap]="490" [maxTopOffset]="1000"></app-quote-sidebar>
    </div>
  </div>

</div>

<app-footer></app-footer>
<app-modal-email-quote></app-modal-email-quote>