@import '../../../assets/mixins.scss';

.service {
  margin: 32px 0;

  h2.alt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 16px;

    .question {
      flex: 1;
    }
    .price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      h1 {
        margin-bottom: 0;
      }
    }
  }
  .buttons {
    margin: 0 16px;

    @include respond-to($phone) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
    }
    
    button {
      margin-right: 16px;
    }
  }
}