<div class="service">

  <h2 class="alt">
    <span class="title">{{packageDetails[packageKey].shortTitle}}</span>
    <div class="toggle-visibility" (click)="onToggleVisibility()">
      <i class="fa" [ngClass]="{ 'fa-chevron-up': expanded, 'fa-chevron-down': !expanded }" aria-hidden="true"></i>
    </div>
  </h2>

  <div class="content" *ngIf="expanded">
    <div class="question">Would you like to remove {{packageDetails[packageKey].shortTitle}} from your quote?</div>
    <div class="price">
      <h1>&pound;
        <span *ngIf="isOptionSelected(packageKey)">30</span>0</h1>
      <!-- <div>Inc VAT</div> -->
    </div>
  </div>

  <div class="buttons" *ngIf="expanded">
    <button (click)="onYesClicked(packageKey)" class="btn" [ngClass]="{ 'btn-white': isOptionSelected(packageKey) }">Yes</button>
    <button (click)="onNoClicked(packageKey)" class="btn" [ngClass]="{ 'btn-white': !isOptionSelected(packageKey) }">No</button>
  </div>
</div>