<div class="modal-container" *ngIf="modal.visible">
  
    <div class="modal">
      <div class="title">{{modal.title}}</div>
      <div class="body">
        {{ modal.message }}
      </div>
      <div class="footer">
        <button class="btn btn-white" (click)="onCloseModal()">Ok</button>
      </div>
    </div>
  
  </div>