@import '../../../assets/mixins.scss';

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .modal {
    width: 500px;
    background-color: rgba(240, 240, 240, 1);
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: stretch;

    @include respond-to($phone) {
      width: 95%;
    }

    .title {
      padding: 8px;
      background-color: #ff6600;
      color: #ffffff;
      border-radius: 4px;
      font-size: 23px;
      font-family: "geomanistmedium", sans-serif;
    }

    .body {
      padding: 16px;
    }

    .footer {
      padding: 8px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }

}