<div class="steps-component">
  <div class="container">
    <div class="col-md-12">
      <div class="steps-container">

        <div class="step" (click)="goToStep(1)">
          <div class="number" [ngClass]="{ 'finished': currentStep>=1 }">
            <span *ngIf="currentStep<1">1</span>
            <img *ngIf="currentStep>=1" src="./assets/img/check.png" />
          </div>
          <div class="text">Company name</div>
        </div>

        <div class="line"></div>

        <div class="step" (click)="goToStep(2)">
          <div class="number" [ngClass]="{ 'finished': currentStep>=2 }">
            <span *ngIf="currentStep<2">2</span>
            <img *ngIf="currentStep>=2" src="./assets/img/check.png" />
          </div>
          <div class="text">Company<br/>requirements</div>
        </div>

        <div class="line"></div>

        <div class="step" (click)="goToStep(3)">
          <div class="number" [ngClass]="{ 'finished': currentStep>=3 }">
            <span *ngIf="currentStep<3">3</span>
            <img *ngIf="currentStep>=3" src="./assets/img/check.png" />
          </div>
          <div class="text">Instant Quote</div>
        </div>

        <div class="line" fxHide.lt-md></div>

        <div class="clear-all" fxHide.gt-sm></div>

        <div class="step" (click)="goToStep(4)">
          <div class="number" [ngClass]="{ 'finished': currentStep>=4 }">
            <span *ngIf="currentStep<4">4</span>
            <img *ngIf="currentStep>=4" src="./assets/img/check.png" />
          </div>
          <div class="text">Review &amp;<br/>Payment</div>
        </div>

        <div class="line"></div>

        <div class="step" (click)="goToStep(5)">
          <div class="number" [ngClass]="{ 'finished': currentStep>=5 }">
            <span *ngIf="currentStep<5">5</span>
            <img *ngIf="currentStep>=5" src="./assets/img/check.png" />
          </div>
          <div class="text">Finish</div>
        </div>

      </div>
    </div>
  </div>
</div>