@import "../../../assets/mixins";

.steps-component {
  margin: 64px 0;

  @include respond-to($phone) {
    margin: 32px 0;
  }

  .clear-all {
    display: block;
    width: 100%;
  }

  .line {
    width: 100px;
    height: 1px;
    background-color: #545454;
    margin: 28px -10px 0 -10px;

    @include respond-to($phone) {
      width: 51px;
      margin: 41px -5px 0 -5px;
    }
  }

  .steps-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .step {
      width: 110px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @include respond-to($phone) {
        width: 58px;
        margin-top: 16px;
      }

      .number {
        width: 56px;
        height: 56px;
        color: #ff6600;
        font-size: 23px;
        border: 1px solid #545454;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.finished {
          background-color: #ff6600;
          border: 1px solid #eaeaea;
        }

        @include respond-to($phone) {
          width: 40px;
          height: 40px;
          font-size: 16px;
        }
      }
      .text {
        font-size: 15px;
        color: #545454;
        text-align: center;

        @include respond-to($phone) {
          font-size: 11px;
        }
      }
    }
  }
}