<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Privacy Policy</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        This privacy policy applies between you, the User of this website and Speedy Accounts Online, the owner and provider of this
        website. Speedy Accounts Online takes the privacy of your information very seriously. This privacy policy applies
        to our use of any and all data collected by us or provided by you in relation to your use of the website.
        <strong>Please read this privacy policy carefully.</strong>
      </p>
    </div>
  </div>

  <div class="row t-margin">
    <div class="col-md-12">
      <h2>Definitions and interpretation</h2>
      <div class="paragraph">
        <div class="number">1.</div>
        <div class="text">In this privacy policy, the following definitions are used:</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
    <div class="col-md-6">
      <strong>Data</strong>
    </div>
    <div class="col-md-6">
      Collectively all information that you submit to Speedy Accounts Online via the website. This definition incorporates, where
      applicable, the definitions provided in the data Protection Act 1998;
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
    <div class="col-md-6">
      <strong>Cookies</strong>
    </div>
    <div class="col-md-6">
      A small text file placed on your computer by this website when you visit certain parts of the website and/or when you use
      certain features of the website. Details of the cookies used by this website are set out in the clause below
      <strong>(Cookies)</strong>;
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
    <div class="col-md-6">
      <strong>Speedy Accounts Online,</strong> or
      <strong>us</strong>
    </div>
    <div class="col-md-6">
      Speedy Accounts Online is a brand name of SK Accountants limited, a company incorporated in England and Wales with registered
      number 08614670 whose registered office is at 45 Gillender Street, London, England, E14 6RN
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
    <div class="col-md-6">
      <strong>UK and EU Cookie Law</strong>
    </div>
    <div class="col-md-6">
      The Privacy and Electronic Communications (EC Directive) Regulations 2003 as amended by the Privacy and Electronic Communications
      (EC Directive) (Amendment) Regulations 2011;
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
    <div class="col-md-6">
      <strong>User</strong> or
      <strong>you</strong>
    </div>
    <div class="col-md-6">
      Any third party that accesses the website and is not either (i) employed by Speedy Accounts Online and acting in the course
      of their employment or (ii) engaged as a consultant or otherwise providing services to Speedy Accounts Online and accessing
      the website in connection with the provision of such services; and
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
    <div class="col-md-6">
      <strong>Website</strong>
    </div>
    <div class="col-md-6">
      The website that you are currently using, www.speedyaccountsonline.co.uk, and any subdomains of this site unless expressly
      excluded by their own terms and conditions.
    </div>
    <div class="col-md-12">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">2.</div>
        <div class="text">
          In this privacy policy, unless the context requires a different interpretation:
          <ol type="a">
            <li>the singular includes the plural and vice versa;</li>
            <li>references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or appendices
              of this privacy policy;</li>
            <li>a reference to a person includes firms, companies, government entities, trusts and partnerships;</li>
            <li>"including" is understood to mean "including without limitation";</li>
            <li>reference to any statutory provision includes any modification or amendment of it;</li>
            <li>the headings and sub-headings do not form part of this privacy policy</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Scope of this privacy policy</h2>
      <div class="paragraph">
        <div class="number">3.</div>
        <div class="text">This privacy policy applies only to the actions of Speedy Accounts Online and Users with respect to this website.
          It does not extend to any websites that can be accessed from this website including, but not limited to, any links
          we may provide to social media websites.</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">4.</div>
        <div class="text">
          We may collect the following data, which includes personal data, from you:
          <ol type="a">
            <li>Name</li>
            <li>Date of Birth;</li>
            <li>Gender;</li>
            <li>Job Title;</li>
            <li>Profession;</li>
            <li>Contact Information such as email addresses and telephone numbers;</li>
            <li>Demographic information such as post code, preferences and interests;</li>
            <li>Financial information such as credit / debit card numbers;</li>
            <li>IP address (automatically collected);</li>
            <li>Web browser type and version (automatically collected);</li>
            <li>Operating system (automatically collected);</li>
            <li>A list of URLs starting with a referring site, your activity on this website, and the site you exit to (automatically
              collected);
            </li>
            <li>Company Name and financial information.</li>
            <li>in each case, in accordance with this privacy policy</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Our use of data</h2>
      <div class="paragraph">
        <div class="number">5.</div>
        <div class="text">
          For purposes of the data Protection Act 1998, Speedy Accounts Online is the "data controller"
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">6.</div>
        <div class="text">
          Unless we are obliged or permitted by law to do so, and subject to any third party disclosures specifically set out in this
          policy, your data will not be disclosed to third parties. This does not include our affiliates and / or other companies
          within our group.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">7.</div>
        <div class="text">
          All personal data is stored securely in accordance with the principles of the data Protection Act 1998. For more details
          on security see the clause below
          <strong>(Security)</strong>.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">8.</div>
        <div class="text">
          Any or all of the above data may be required by us from time to time in order to provide you with the best possible service
          and experience when using our website. Specifically, data may be used by us for the following reasons:
          <ol type="a">
            <li>internal record keeping;</li>
            <li>improvement of our products / services;</li>
            <li>transmission by email of promotional materials that may be of interest to you;</li>
            <li>contact for market research purposes which may be done using email, telephone, fax or mail. Such information
              may be used to customise or update the website;</li>
          </ol>
          in each case, in accordance with this privacy policy.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Third party websites and services</h2>
      <div class="paragraph">
        <div class="number">9.</div>
        <div class="text">
          Speedy Accounts Online may, from time to time, employ the services of other parties for dealing with certain processes necessary
          for the operation of the website. The providers of such services have access to certain personal data provided
          by Users of this website.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">10.</div>
        <div class="text">
          Any data used by such parties is used only to the extent required by them to perform the services that we request. Any use
          for other purposes is strictly prohibited. Furthermore, any data that is processed by third parties will be processed
          within the terms of this privacy policy and in accordance with the data Protection Act 1998.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Links to other websites</h2>
      <div class="paragraph">
        <div class="number">11.</div>
        <div class="text">
          This website may, from time to time, provide links to other websites. We have no control over such websites and are not responsible
          for the content of these websites. This privacy policy does not extend to your use of such websites. You are advised
          to read the privacy policy or statement of other websites prior to using them.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Changes of business ownership and control</h2>
      <div class="paragraph">
        <div class="number">12.</div>
        <div class="text">
          Speedy Accounts Online may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer
          of control of all or part of Speedy Accounts Online. data provided by Users will, where it is relevant to any part
          of our business so transferred, be transferred along with that part and the new owner or newly controlling party
          will, under the terms of this privacy policy, be permitted to use the data for the purposes for which it was originally
          supplied to us.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">13.</div>
        <div class="text">
          We may also disclose data to a prospective purchaser of our business or any part of it.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">14.</div>
        <div class="text">
          In the above instances, we will take steps with the aim of ensuring your privacy is protected.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Controlling use of your data</h2>
      <div class="paragraph">
        <div class="number">15.</div>
        <div class="text">
          Wherever you are required to submit data, you will be given options to restrict our use of that data. This may include the
          following:
          <ol type="a">
            <li>use of data for direct marketing purposes; and</li>
            <li>sharing data with third parties.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Functionality of the website</h2>
      <div class="paragraph">
        <div class="number">18.</div>
        <div class="text">
          To use all features and functions available on the website, you may be required to submit certain data.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">19.</div>
        <div class="text">
          You may restrict your internet browser's use of Cookies. For more information see the clause below
          <strong>(Cookies)</strong>.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Accessing your own data</h2>
      <div class="paragraph">
        <div class="number">20.</div>
        <div class="text">
          You have the right to ask for a copy of any of your personal data held by Speedy Accounts Online (where such data is held)
          on payment of a small fee, which will not exceed £150.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Security</h2>
      <div class="paragraph">
        <div class="number">21.</div>
        <div class="text">
          data security is of great importance to Speedy Accounts Online and to protect your data we have put in place suitable physical,
          electronic and managerial procedures to safeguard and secure data collected via this website.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">22.</div>
        <div class="text">
          If password access is required for certain parts of the website, you are responsible for keeping this password confidential.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">23.</div>
        <div class="text">
          We endeavour to do our best to protect your personal data. However, transmission of information over the internet is not
          entirely secure and is done at your own risk. We cannot ensure the security of your data transmitted to the website.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Cookies</h2>
      <div class="paragraph">
        <div class="number">24.</div>
        <div class="text">
          This website may place and access certain Cookies on your computer. Speedy Accounts Online uses Cookies to improve your experience
          of using the website and to improve our range of services. Speedy Accounts Online has carefully chosen these Cookies
          and has taken steps to ensure that your privacy is protected and respected at all times.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">25.</div>
        <div class="text">
          All Cookies used by this website are used in accordance with current UK and EU Cookie Law.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">26.</div>
        <div class="text">
          Before the website places Cookies on your computer, you will be presented with a popup requesting your consent to set those
          Cookies. By giving your consent to the placing of Cookies, you are enabling Speedy Accounts Online to provide a
          better experience and service to you. You may, if you wish, deny consent to the placing of Cookies; however certain
          features of the website may not function fully or as intended.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">27.</div>
        <div class="text">
          This website may place the following Cookies:
          <h4>Type of Cookie and Their Purpose</h4>
          <ul type="dash">
            <li>Strictly necessary cookies. These are cookies that are required for the operation of our website. They include,
              for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use
              of e-billing services.</li>
            <li>Analytical/performance cookies. They allow us to recognise and count the number of visitors and to see how visitors
              move around our website when they are using it. This helps us to improve the way our website works, for example,
              by ensuring that users are finding what they are looking for easily.</li>
            <li>Functionality cookies. These are used to recognise you when you return to our website. This enables us to personalise
              our content for you, greet you by name and remember your preferences (for example, your choice of language
              or region).</li>
            <li>Targeting cookies. These cookies record your visit to our website, the pages you have visited and the links you
              have followed. We will use this information to make our website and the advertising displayed on it more relevant
              to your interests. We may also share this information with third parties for this purpose.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">28.</div>
        <div class="text">
          You can choose to enable or disable Cookies in your internet browser. By default, most internet browsers accept Cookies but
          this can be changed. For further details, please consult the help menu in your internet browser.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">29.</div>
        <div class="text">
          You can choose to delete Cookies at any time; however you may lose any information that enables you to access the website
          more quickly and efficiently including, but not limited to, personalisation settings.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">30.</div>
        <div class="text">
          It is recommended that you ensure that your internet browser is up-to-date and that you consult the help and guidance provided
          by the developer of your internet browser if you are unsure about adjusting your privacy settings.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>General</h2>
      <div class="paragraph">
        <div class="number">31.</div>
        <div class="text">
          You may not transfer any of your rights under this privacy policy to any other person. We may transfer our rights under this
          privacy policy where we reasonably believe your rights will not be affected.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">32.</div>
        <div class="text">
          If any court or competent authority finds that any provision of this privacy policy (or part of any provision) is invalid,
          illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted,
          and the validity and enforceability of the other provisions of this privacy policy will not be affected.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">33.</div>
        <div class="text">
          Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of
          that, or any other, right or remedy.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">34.</div>
        <div class="text">
          This Agreement will be governed by and interpreted according to the law of England and Wales. All disputes arising under
          the Agreement will be subject to the exclusive jurisdiction of the English and Welsh courts.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="paragraph">
        <div class="number">35.</div>
        <div class="text">
          Speedy Accounts Online reserves the right to change this privacy policy as we may deem necessary from time to time or as
          may be required by law. Any changes will be immediately posted on the website and you are deemed to have accepted
          the terms of the privacy policy on your first use of the website following the alterations.
        </div>
      </div>
    </div>
  </div>

  <div class="row t-margin">
    <div class="col-md-12">
      You may contact Speedy Accounts Online by email at admin@speedyaccountsonline.co.uk
    </div>
  </div>

  <div class="row t-margin">
    <div class="col-md-12">
      <strong>28 September 2017</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a href="/documents/Privacy_Policy_PDF_Document.pdf" class="btn">Download Privacy Policy</a>
    </div>
  </div>


</div>

<app-footer></app-footer>