ol{
  counter-reset: item;

  li {
    // margin: 8px 0;
    display: block;
    margin-bottom: .5em;
    
    &::before {
      display: inline-block;
      content: counter(item, lower-alpha) ". ";
      counter-increment: item;
      margin-right: .8em;
    }
  }
}

ul {
  li {
    display: block;
    margin-bottom: .5em;

    &::before {
      display: inline-block;
      content: "-";
      // margin-right: .8em;
      text-indent: -20px;
    }
  }
}

.paragraph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;

  .number {
    margin-right: 1em;
  }

  .text {
    flex: 1;
  }
}

h2, h4 {
  color: #000000;
}

a.btn {
  display: inline-block;
  margin: 16px 0;
}

a.btn:hover {
  color: #ffffff;
}