<div class="cookies-agreement" *ngIf="!agreedToCookiesPolicy">
  <div class="text">
    This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies. To find out more
    <a routerLink="/privacy-policy">click here</a>.
  </div>
  <div class="buttons">
    <a href="#" (click)="onAgree()">I agree, close</a>
  </div>
</div>