.cookies-agreement {
  max-width: 300px;
  position: fixed;
  bottom: 8px;
  left: 8px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, .7);
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;

  a, a:visited {
    color: lighten($color: #ff6600, $amount: 10%);
  }

  a:hover {
    color: #ffffff;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 8px;
  }
}