@import "../../../assets/mixins";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.free-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #3f7996;
  margin-top: -8px;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      input {
        display: block;
        padding: 8px;
        width: 100%;
        margin: 16px 0;
        font-size: 18px;
        font-family: 'geomanistregular', sans-serif;
      }
    }
    a.button {
      display: block;
      padding: 8px;
      width: 100%;
      margin: 16px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 50px;
      border: 1px solid #000000;
      border-radius: 100px;
      background-color: #ff5d26;
      color: #ffffff;
      
      &:hover {
        background-color: #525252;
      }
    }

    h1 {
      color: #ffffff;
      font-size: 50px;
      text-align: left;
    }

    h2 {
      color: #ffffff;
      font-size: 34px;
    }
  }

  .img-bordered {
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 32px 0;
  }
}

.social {

  h2 {
    text-transform: uppercase;
    text-align: center;
  }

  .social-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .social-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 16px;
      cursor: pointer;

      &:hover .icn {
        background-color: #ff5d26;
        color: #ffffff;
        border: 1px solid #ffffff;
      }

      .icn {
        min-width: 45px;
        min-height: 45px;
        border: 1px solid #000000;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
        font-size: 20px;
        margin: 8px;
        transition: all .15s ease-in-out;
      }
    }
  }
}