<div class="free-download">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <img src="../../../assets/img/31_point_checklist.jpg" class="resp-img img-bordered" />
      </div>
      <div class="col-md-7">

        <div class="form-container">
          <h1 *ngIf="!thankYouContent">Enter your company name and email below to get this free download!</h1>

          <div class="inputs" *ngIf="!thankYouContent">
            <input type="text" [(ngModel)]="formData.companyName.value" placeholder="Company name" />
            <input type="text" [(ngModel)]="formData.email.value" placeholder="Email" />
            <a class="button" (click)="onEnter()">{{enterButtonText}}</a>
          </div>

          <div *ngIf="thankYouContent">
            <h1>Thank you!</h1>
            <h2>Click the link below to grab your download. Don't forget to share this page with friends!</h2>
            <a class="button" (click)="onDownloadNow()">Download now!</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container social">

  <div class="row">
    <div class="col-md-12 mt-4">
      <h2>Share this page with friends</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="social-icons-container">

        <div class="social-icon" (click)="shareOnFacebook()">
          <div class="icn">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
          <div class="txt">Facebook</div>
        </div>

        <div class="social-icon" (click)="shareOnTwitter()">
          <div class="icn">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
          <div class="txt">Twitter</div>
        </div>

        <div class="social-icon" (click)="shareOnGooglePlus()">
          <div class="icn">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </div>
          <div class="txt">Google+</div>
        </div>

        <div class="social-icon" (click)="shareOnLinkedIn()">
          <div class="icn">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </div>
          <div class="txt">LinkedIn</div>
        </div>

      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
