@import "../../../assets/mixins";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .row {
      display: flex;
      flex-direction: row;
      flex: 1;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h1 {
          font-weight: normal;
          font-family: "geomanistlight", sans-serif;
          color: #545454;
          font-size: 64px;
          padding: 0;
          margin: 0;
          text-align: center;
    
          @include respond-to($phone) {
            font-size: 36px;
          }
    
          span.alt-text {
            font-family: "geomanistitalicmedium", sans-serif;
            text-transform: uppercase;
            color: #ff6600;
            display: inline-block;
          }
        }
        
        h3 {
          font-family: "geomanistrextralight", sans-serif;
          color: #A5ADBB;
          font-size: 17px;
          padding: 0;
          margin: 0;
          text-align: center;
    
          @include respond-to($phone) {
            font-size: 13px;
          }
        }
    
        .search-field {
          width: 100%;
          background: #FFFFFF;
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
          border-radius: 444px;
          padding: 20px;
          margin-top: 32px;
          display: flex;
          flex-direction: row;
          position: relative;
          margin-bottom: 16px;
    
          @include respond-to($phone) {
            padding: 13px;
          }
    
          .company-list {
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            max-height: 300px;
            overflow-y: scroll;
            background-color: #ffffff;
            z-index: 1;
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
    
            .company {
              padding: 8px;
              margin: 0 16px;
              cursor: pointer;
    
              .company-title {
                text-transform: capitalize;
              }
    
              .company-address {
                font-size: 15px;
                color: #d6d6d6;
              }
            }
          }
    
          input {
            flex: 1;
            border: 0;
            font-size: 19px;
            color: #333333;
            mix-blend-mode: normal;
            outline: none;
            font-family: "geomanistregular", sans-serif;
    
            @include respond-to($phone) {
              font-size: 14px;
            }
    
            &::placeholder {
              font-family: "geomanistlight", sans-serif;
            }
          }
    
          button {
            padding: 15px 36px;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            font-family: "geomanistmedium", sans-serif;
            background-color: #ff6600;
            border-radius: 444px;
            border: 0;
            margin: -16px -16px -16px 4px;
    
            @include respond-to($phone) {
              display: none;
            }
          }
    
          .arrow {
            position: absolute;
            top: -150px;
            right: 20px;
            display: none;
            transition: all .25s ease-in-out;
    
            @include respond-to($large-desktop) {
              display: block;
            }
    
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        
        button.outside-btn {
          padding: 15px 36px;
          color: white;
          font-size: 15px;
          text-transform: uppercase;
          font-family: "geomanistmedium", sans-serif;
          background-color: #ff6600;
          border-radius: 444px;
          border: 0;
          margin: 16px;
          display: none;
    
          @include respond-to($phone) {
            display: block;
          }
        }

        .error-message {
          color: red;
        }
      }
      .man-image {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        // @include respond-to($phone) {
        //   display: none;
        // }
      }
    }
  }
}