<div class="main-content">
  <div class="container">
    <div class="row">

      <div class="col-md-8 content">
        <h1>Get your accounts sorted</h1>
        <h1>in <span class="alt-text" [@flyIn]>seconds...</span></h1>
        <h3>Enter your company name below to access your</h3>
        <h3>accounts filing deadline</h3>
        <div class="search-field">
          <input
            #companyName
            (keyup.enter)="onCompanySearch(companyName.value)"
            type="text"
            placeholder="Company name or registration no"
          />
          <button (click)="onCompanySearch(companyName.value)">{{continueButtonText}}</button>
          <img src="./assets/img/arrow.png" class="arrow" />

          <div class="company-list" *ngIf="companies.length > 0">
            <div class="company" *ngFor="let company of companies" (click)="onCompanySelected(company.company_number)">
              <div class="company-title">{{company.title}}</div>
              <div class="company-address">{{company.address_snippet}}</div>
            </div>
          </div>

        </div>

        <div class="error-message" [style.visibility]="(errorMessage && errorMessage != '') ? 'visible' : 'hidden'">
          {{errorMessage}}
        </div>

        <button (click)="onCompanySearch(companyName.value)" class="outside-btn">{{continueButtonText}}</button>
      </div>

      <div class="col-md-4 man-image">
        <img src="./assets/img/man.png" class="resp-img" />
      </div>

    </div>
  </div>
</div>

<app-logos></app-logos>