<app-header></app-header>

<router-outlet></router-outlet>

<app-modal-window [@modalFadeIn]="(termsOfServiceModal.visible) ? 'visible' : 'invisible'"></app-modal-window>
<ng2-toasty></ng2-toasty>
<app-modal-message></app-modal-message>
<app-cookies-agreement></app-cookies-agreement>