<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Whoops, the page you're looking for isn't there</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="fof-container">
        <div class="fof">404</div>
        <div class="text">If this problem continues, send us a report and we'll look into it</div>
      </div>
    </div>
  </div>

  <div class="row t-margin">
      <div class="col-md-12">
        <div class="centered-content">
          <button class="btn" routerLink="/">Visit our homepage</button>
        </div>
      </div>
    </div>

</div>