<div class="container t-margin">
  <div class="row">
    <div class="col-md-9">

      <div class="page-header">
        <h1>About us</h1>
        <div class="line centered-content">
          <img src="./assets/img/line.png" />
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container t-margin">
  <div class="row">
    <div class="col-md-9">

      <h2>Speedy by name, Speedy by reputation</h2>
      <p>
        The whole ethos around Speedy is being able to turn around our clients’ requests in double-quick time. There are a million
        reasons why clients want their requests dealing in a fast, efficient manner but whatever yours is, it’s fine by us.
      </p>
      <p>
        And as part of one of London’s most respected accountancy firms, SK Accountants, think of Speedy as a specialist, express
        wing of our parent company with a specific area of expertise. We are not here to roll our eyes or tap our watches
        telling you that if you had wanted things done quickly, you should have got it to us sooner – that’s not how we work.
      </p>

      <h2 class="t-margin">We are here to serve you and trust us when we say ‘We’re on it!’ you can take it to the bank</h2>
      <p>
        Think of yourself as an aircraft – at Speedy the runway is always clear while our competitors are likely to place you in
        a holding pattern until a landing slot opens up. Urgent means urgent.
      </p>
      <p>
        But don’t mistake speed for rushed – you will get the same, excellent results from our service as you would from an accountant
        who takes weeks to return your figures.
      </p>

      <h2 class="t-margin">We are fast, but accurate and meticulous.</h2>
      <p>
        We pride ourselves on working together as a unit, adopting the Henry Ford Method into accountancy in that everyone knows
        their role and what they need to do – we are geared to process urgent work and our system runs like a well-oiled
        machine.
      </p>
      <p>
        It’s easy to spiel off friendly phrases and empty promises but your business means everything to us. It is you and your needs
        that we are here to serve and that is something we never lose focus of.
      </p>

      <h2 class="t-margin">93% client retention rate year-on-year speaks for itself.</h2>
      <p>
        So, try us out. Make us prove we are as good as our word and enjoy knowing you are getting a fantastic service for a more
        than competitive rate, not to mention at speedy turnaround. Choose Speedy and relax. We’re on it. We are family…
      </p>
      <p>
        SK Accountants offer a wide-ranging accountancy service preparing annual accounts and company tax returns for limited companies.
        Like Speedy, SK focus on speed and expertise, though in a different area of accountancy to Speedy, specializing in
        first-year trading companies to ensure a stress-free first set of accounts.
      </p>

    </div>
    <div class="col-md-3">

      <app-quote-sidebar [topGap]="490" [maxTopOffset]="500" [showLiveChat]="false" [showTestimonials]="true" [showYourPremium]="false"
        [showFacebookPageWidget]="true" [showServicesIncluded]="false" [showGetStarted]="true">
      </app-quote-sidebar>

    </div>
  </div>
</div>

<app-footer></app-footer>