@import "../../../assets/mixins";

.page-header {
  padding: 32px 0 50px 0;
  background-image: url('../../../assets/img/about.png');
  // background-position: top right;
  // background-position: 96% 0;
  background-position: 100% 0;
  background-repeat: no-repeat;
}


.title {
  font-weight: normal;
}


h4 {
  @include respond-to($phone) {
    text-align: center;
  }
}

h3 {
  @include respond-to($phone) {
    text-align: center;
  }
}

h2 {
  font-family: "geomanistmedium", sans-serif;

  @include respond-to($phone) {
    font-size: 19px;
  }
}

