@import "../../../assets/mixins";

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos {
  background-color: #fbfbfb;
  padding: 32px 0;

  .logo {
    img {
      transform: scale(.8);
    }

    &:hover {
      img {
        transform: scale(1);
        opacity: 1;
      }
    }

    @include respond-to($phone) {
      padding: 32px 0;
    }

    img {
      transition: all .25s ease-in-out;
    }
  }
}