<div class="logos">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 centered-content">
        <div class="logo"><img src="./assets/img/r_logo1.png" class="resp-img"></div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 centered-content">
        <div class="logo"><img src="./assets/img/r_logo2.png" class="resp-img"></div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 centered-content">
        <div class="logo"><img src="./assets/img/r_logo3.png" class="resp-img"></div>
      </div>
    </div>
  </div>
</div>