.testimonial {
  .rating {
    color: #ff6600;
    font-size: 32px;
    margin: 16px 0;
  }

  .text {
    font-size: 18px;

    span {
      font-family: "geomanistmedium", sans-serif;
    }

    img.quotaton-open {
      margin-top: -5px;
    }

    img.quotation-closed {
      margin-bottom: -14px;
    }


    // .quotation-mark {
    //   font-size: 50px;
    //   display: inline-block;
    //   margin-top: -10px;
    // }
    // i {
    //   font-size: 25px;
    //   margin: 0 8px;
    // }

    // i.left {
    //   float: left;
    //   margin-top: -8px;
    // }
    // i.right {
    //   float: right;
    //   margin-top: 8px;
    // }
  }

  .position, .name {
    text-align: left;
    font-size: 14px;
  }

  .position {
    margin-top: 32px;
  }
}