<div class="testimonial">
  <div class="image">
    <img [src]="testimonial.image">
  </div>
  <div class="rating">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
  </div>
  <div class="text">
    <img src="../../../assets/img/quotation-open.png" class="qotation-open" />
    <!-- <i class="fa fa-quote-left left" aria-hidden="true"></i>     -->
    <span [innerHTML]="testimonial.text"></span>
    <!-- <i class="fa fa-quote-right right" aria-hidden="true"></i>     -->
    <img src="../../../assets/img/quotation-closed.png" class="quotation-closed" />
  </div>
  <div class="position">{{testimonial.position}}</div>
  <div class="name">{{testimonial.name}}</div>
</div>