<div class="row multichoice-question" [ngClass]="{'disabled': !enabled }">
  <div class="protection" *ngIf="!enabled"></div>
  <div class="col-md-12">
    <h2 class="alt">{{packageDetails.title}}</h2>
    <div class="row">
      <div class="col-md-12 options">
        <div class="option" *ngFor="let key of packageDetails.options | keys" [ngClass]="{'selected': packageDetails.options[key].selected}"
          (click)="onClick(key)">
          <div class="img-container">
            <svg *ngIf="packageDetails.options[key].icon == 'check'" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 406.834 406.834" xml:space="preserve">
              <polygon class="svg" points="385.621,62.507 146.225,301.901 21.213,176.891 0,198.104 146.225,344.327 406.834,83.72"></polygon>
            </svg>
            <svg *ngIf="packageDetails.options[key].icon == 'multiply'" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 31.112 31.112" style="enable-background:new 0 0 31.112 31.112;" xml:space="preserve">
              <polygon class="svg" points="31.112,1.414 29.698,0 15.556,14.142 1.414,0 0,1.414 14.142,15.556 0,29.698 1.414,31.112 15.556,16.97 29.698,31.112 31.112,29.698 16.97,15.556 "></polygon>
            </svg>
            <div class="text" *ngIf="packageDetails.options[key].icon == 'check'">Yes</div>
            <div class="text" *ngIf="packageDetails.options[key].icon == 'multiply'">No</div>
          </div>
          <div class="text">{{packageDetails.options[key].title}}</div>
        </div>
      </div>
    </div>
  </div>
</div>