@import "../../../assets/mixins";

.multichoice-question {
  position: relative;

  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  
    @include respond-to($phone) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .option {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 32px 0;
      cursor: pointer;
      transition: all .125s ease-in-out;
  
      .img-container {
        width: 150px;
        height: 115px;
        border: 2px solid #777777;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        svg {
          max-width: 50px;
  
          .svg {
            fill: #777777;
          }
        }
  
        .text {
          margin-top: 8px;
        }
      }
  
      .text {
        font-size: 18px;
        color: #777777;
        margin-top: 4px;
        max-width: 220px;
        text-align: center;
      }
  
      &:hover {
        transform: scale(1.1);
  
        .img-container {
          border: 2px solid #777777;
  
          svg {
            .svg {
              fill: #777777;
            }
          }
        }
      }
  
      &.selected {
        .img-container {
          // border: 2px solid #7bb837;
          border: 2px solid #f5f5f5;
          background-color: #ff6600;
          svg {
            .svg {
              // fill: #7bb837;
              fill: #f5f5f5;
            }
          }
  
          .text {
            color: #f5f5f5;
          }
        }
        .text {
          // color: #7bb837;
          color: #777777;
        }
      }
      
      &.selected:hover {
        .img-container {
          border: 2px solid #f5f5f5;
  
          svg {
            .svg {
              fill: #f5f5f5;
            }
          }
  
          .text {
            color: #f5f5f5;
          }
        }
      }
    }
  }

  &.disabled {
    h2.alt {
      background-color: #777777;
    }
  }

  .protection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}