<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Terms and conditions of use</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Introduction</h2>
      <div class="paragraph">
        <div class="text">
          <p>
            These terms and conditions apply between you, the User of this Website (including any sub-domains, unless expressly excluded
            by their own terms and conditions), and SK Accountants Limited, the owner and operator of this Website. Please
            read these terms and conditions carefully, as they affect your legal rights. Your agreement to comply with and
            be bound by these terms and conditions is deemed to occur upon your first use of the Website. If you do not agree
            to be bound by these terms and conditions, you should stop using the Website immediately.
          </p>
          <p>
            In these terms and conditions, <strong>User</strong> or <strong>Users</strong> means any third party that accesses
            the Website and is not either (i) employed by SK Accountants Limited and acting in the course of their employment
            or (ii) engaged as a consultant or otherwise providing services to SK Accountants Limited and accessing the Website
            in connection with the provision of such services.
          </p>
          <p>
            You must be at least 18 years of age to use this Website. By using the Website and agreeing to these terms and conditions,
            you represent and warrant that you are at least 18 years of age.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Intellectual property and acceptable use</h2>
        <div class="paragraph">
          <div class="number">1.</div>
          <div class="text">
            All Content included on the Website, unless uploaded by Users, is the property of SK Accountants Limited, our affiliates
            or other relevant third parties. In these terms and conditions, Content means any text, graphics, images, audio,
            video, software, data compilations, page layout, underlying code and software and any other form of information
            capable of being stored in a computer that appears on or forms part of this Website, including any such content
            uploaded by Users. By continuing to use the Website you acknowledge that such Content is protected by copyright,
            trademarks, database rights and other intellectual property rights. Nothing on this site shall be construed as
            granting, by implication, estoppel, or otherwise, any license or right to use any trademark, logo or service
            mark displayed on the site without the owner's prior written permission
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">2.</div>
          <div class="text">
            You may, for your own personal, non-commercial use only, do the following:
            <br /> a. retrieve, display and view the Content on a computer screen
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">3.</div>
          <div class="text">
            You must not otherwise reproduce, modify, copy, distribute or use for commercial purposes any Content without the written
            permission of SK Accountants Limited.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">4.</div>
          <div class="text">
            You acknowledge that you are responsible for any Content you may submit via the Website, including the legality, reliability,
            appropriateness, originality and copyright of any such Content. You may not upload to, distribute or otherwise
            publish through the Website any Content that (i) is confidential, proprietary, false, fraudulent, libellous,
            defamatory, obscene, threatening, invasive of privacy or publicity rights, infringing on intellectual property
            rights, abusive, illegal or otherwise objectionable; (ii) may constitute or encourage a criminal offence, violate
            the rights of any party or otherwise give rise to liability or violate any law; or (iii) may contain software
            viruses, political campaigning, chain letters, mass mailings, or any form of "spam." You may not use a false
            email address or other identifying information, impersonate any person or entity or otherwise mislead as to the
            origin of any content. You may not upload commercial content onto the Website.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">5.</div>
          <div class="text">
            You represent and warrant that you own or otherwise control all the rights to the Content you post; that the Content is accurate;
            that use of the Content you supply does not violate any provision of these terms and conditions and will not
            cause injury to any person; and that you will indemnify SK Accountants Limited for all claims resulting from
            Content you supply.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Prohibited use</h2>
        <div class="paragraph">
          <div class="number">6.</div>
          <div class="text">
            You may not use the Website for any of the following purposes:
            <ol>
              <li>in any way which causes, or may cause, damage to the Website or interferes with any other person's use or enjoyment
                of the Website;</li>
              <li>in any way which is harmful, unlawful, illegal, abusive, harassing, threatening or otherwise objectionable
                or in breach of any applicable law, regulation, governmental order;</li>
              <li>making, transmitting or storing electronic copies of Content protected by copyright without the permission
                of the owner.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Registration</h2>
        <div class="paragraph">
          <div class="number">7.</div>
          <div class="text">
            You must ensure that the details provided by you on registration or at any time are correct and complete.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">8.</div>
          <div class="text">
            You must inform us immediately of any changes to the information that you provide when registering by updating your personal
            details to ensure we can communicate with you effectively
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">9.</div>
          <div class="text">
            We may suspend or cancel your registration with immediate effect for any reasonable purposes or if you breach these terms
            and conditions.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">10.</div>
          <div class="text">
            You may cancel your registration at any time by informing us in writing to the address at the end of these terms and conditions.
            If you do so, you must immediately stop using the Website.
            <br />Cancellation or suspension of your registration does not affect any statutory rights.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Links to other websites</h2>
        <div class="paragraph">
          <div class="number">11.</div>
          <div class="text">
            This Website may contain links to other sites. Unless expressly stated, these sites are not under the control of SK Accountants
            Limited or that of our affiliates.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">12.</div>
          <div class="text">
            We assume no responsibility for the content of such Websites and disclaim liability for any and all forms of loss or damage
            arising out of the use of them.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">13.</div>
          <div class="text">
            The inclusion of a link to another site on this Website does not imply any endorsement of the sites themselves or of those
            in control of them.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Privacy Policy and Cookies Policy</h2>
        <div class="paragraph">
          <div class="number">14.</div>
          <div class="text">
            Use of the Website is also governed by our Privacy Policy and Cookies Policy, which are incorporated into these terms and
            conditions by this reference. To view the Privacy Policy and Cookies Policy, please click on the following: https://www.speedyaccountsonline.co.uk/privacy-policy.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Availability of the Website and disclaimers</h2>
        <div class="paragraph">
          <div class="number">15.</div>
          <div class="text">
            Any online facilities, tools, services or information that SK Accountants Limited makes available through the Website (the
            <strong>Service</strong>) is provided "as is" and on an "as available" basis. We give no warranty that the Service
            will be free of defects and/or faults. To the maximum extent permitted by the law, we provide no warranties (express
            or implied) of fitness for a particular purpose, accuracy of information, compatibility and satisfactory quality.
            SK Accountants Limited is under no obligation to update information on the Website
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">16.</div>
          <div class="text">
            Whilst SK Accountants Limited uses reasonable endeavours to ensure that the Website is secure and free of errors, viruses
            and other malware, we give no warranty or guarantee in that regard and all Users take responsibility for their
            own security, that of their personal details and their computers.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">17.</div>
          <div class="text">
            SK Accountants Limited accepts no liability for any disruption or non-availability of the Website.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">18.</div>
          <div class="text">
            SK Accountants Limited reserves the right to alter, suspend or discontinue any part (or the whole of) the Website including,
            but not limited to, any products and/or services available. These terms and conditions shall continue to apply
            to any modified version of the Website unless it is expressly stated otherwise.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Limitation of liability</h2>
        <div class="paragraph">
          <div class="number">19.</div>
          <div class="text">
            Nothing in these terms and conditions will: (a) limit or exclude our or your liability for death or personal injury resulting
            from our or your negligence, as applicable; (b) limit or exclude our or your liability for fraud or fraudulent
            misrepresentation; or (c) limit or exclude any of our or your liabilities in any way that is not permitted under
            applicable law.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">20.</div>
          <div class="text">
            We will not be liable to you in respect of any losses arising out of events beyond our reasonable control.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">21.</div>
          <div class="text">
            To the maximum extent permitted by law, SK Accountants Limited accepts no liability for any of the following:
            <ol>
              <li>any business losses, such as loss of profits, income, revenue, anticipated savings, business, contracts, goodwill
                or commercial opportunities;</li>
              <li>loss or corruption of any data, database or software;</li>
              <li>any special, indirect or consequential loss or damage.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>General</h2>
        <div class="paragraph">
          <div class="number">22.</div>
          <div class="text">
            You may not transfer any of your rights under these terms and conditions to any other person. We may transfer our rights
            under these terms and conditions where we reasonably believe your rights will not be affected.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">23.</div>
          <div class="text">
            These terms and conditions may be varied by us from time to time. Such revised terms will apply to the Website from the date
            of publication. Users should check the terms and conditions regularly to ensure familiarity with the then current
            version.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">24.</div>
          <div class="text">
            These terms and conditions together with the Privacy Policy and Cookies Policy contain the whole agreement between the parties
            relating to its subject matter and supersede all prior discussions, arrangements or agreements that might have
            taken place in relation to the terms and conditions.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">25.</div>
          <div class="text">
            The Contracts (Rights of Third Parties) Act 1999 shall not apply to these terms and conditions and no third party will have
            any right to enforce or rely on any provision of these terms and conditions.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">26.</div>
          <div class="text">
            If any court or competent authority finds that any provision of these terms and conditions (or part of any provision) is
            invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to
            be deleted, and the validity and enforceability of the other provisions of these terms and conditions will not
            be affected.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">27.</div>
          <div class="text">
            Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of
            that, or any other, right or remedy.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paragraph">
          <div class="number">28.</div>
          <div class="text">
            This Agreement shall be governed by and interpreted according to the law of England and Wales and all disputes arising under
            the Agreement (including non-contractual disputes or claims) shall be subject to the exclusive jurisdiction of
            the English and Welsh courts.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>SK Accountants Limited details</h2>
        <div class="paragraph">
          <div class="number">29.</div>
          <div class="text">
            SK Accountants Limited is a company incorporated in England and Wales with registered number 08614670 whose registered address
            is 45 Gillender Street, London, England, E14 6RN and it operates the Website https://www.speedyaccountsonline.co.uk.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>You can contact SK Accountants Limited by email on info@skaccountants.com.</p>
      </div>
    </div>






















  </div>

</div>

<app-footer></app-footer>