/*
  FONTS
*/
@import "./assets/webfonts/Geomanist-Regular-Webfont/stylesheet.css";
@import "./assets/webfonts/Geomanist-Medium-Webfont/stylesheet.css";
@import "./assets/webfonts/Geomanist-Light-Webfont/stylesheet.css";
@import "./assets/webfonts/Geomanist-ExtraLight-Webfont/stylesheet.css";
@import "./assets/webfonts/Geomanist-Light-Italic-Webfont/stylesheet.css";
@import "./assets/webfonts/Geomanist-Medium-Italic-Webfont/stylesheet.css";
@import "./assets/mixins.scss";
@import "./assets/bootstrap-grid.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/ng2-toasty/style-default.css";

* {
  box-sizing: border-box;
}
html, body {
  min-height: 100vh;
}

body {
  background-color: #fff;
  font-family: 'geomanistregular', sans-serif;
  padding: 0;
  margin: 0;
}

/*
  Links
*/
a, a:visited {
  text-decoration: none;
  color: #333333;
  transition: all .125s ease-in-out;
  cursor: pointer;
}
a:hover {
  color: #ff6600;
}

/*
  Elements
*/
button {
  cursor: pointer;
  outline: none;
}

.resp-img {
  max-width: 100%;
}

.btn {
  padding: 8px 35px;  // 16px 64px
  background-color: #ff6600;
  border-radius: 444px;
  border: 1px solid #ff6600;
  font-family: "geomanistmedium", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  margin: 4px 4px;
}
.btn.btn-white {
  background-color: #ffffff;
  color: #ff6600;
  border: 1px solid #f7f7f7;
}
.btn.btn-green {
  background-color: #7bb837;
  border: 1px solid #7bb837;
}

a.btn,
a.btn:hover {
  color: #ffffff;
}

h4 {
  font-size: 18px;
  color: rgba(84, 84, 84, 1);
  font-family: "geomanistlight", sans-serif;
  margin: 16px 0 0 0;
}

h3 {
  font-size: 22px;
  color: #ff6600;
  font-family: "geomanistlight", sans-serif;
  margin: 4px 0;
}

h1 {
  font-size: 36px;  // 45px
  text-align: center;
  color: #303030;
  font-weight: normal;

  @include respond-to($phone) {
    font-size: 30px;
  }
}

h2 {
  font-size: 23px;  // 29px
  color: #303030;
  font-weight: normal;

  &.alt {
    background-color: #ff6600;
    color: #ffffff;
    border-radius: 6px;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    font-family: "geomanistmedium", sans-serif;
  }

  @include respond-to($phone) {
    font-size: 24px;
  }
}

h6 {
  font-size: 16px;
  margin: 16px 0 0 0;
  font-weight: normal;
  font-family: "geomanistmedium", sans-serif;
}

h5 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

h6 {
  font-weight: normal;
  font-family: "geomanistregular", sans-serif;
  font-size: 19px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide-on-mobile {
  @include respond-to($phone) {
    display: none;
  }
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}
.no-top-margin {
  margin-top: 0 !important;
}

.t-margin {
  margin-top: 64px !important;
}
.b-margin {
  margin-bottom: 64px !important;
}

.text-center {
  text-align: center;
}

.inpt-field {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 444px;
  border: 0;
  padding: 20px;
  outline: none;
  font-family: "geomanistregular", sans-serif;
  font-size: 15px;
}

hr {
  color: #eaeaea;
  height: 1px;
  border: 1px solid #eaeaea;
}

/*
  Checkboxes & Radio
*/
label {
  cursor: pointer;

  input[type="checkbox"] {
    display: none;

    + .label-text:before {
      content: '\f096';
      font-family: "FontAwesome", sans-serif;
      // speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      width: 1em;
      display: inline-block;
      margin-right: 8px;
      font-size: 1.5em;
    }

    &:checked + .label-text:before {
      //content: '\f046';
      content: '\f14a';
      color: #7bb837;
    }
  }

  input[type="radio"] {
    display: none;

    + .label-text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    + .label-text:before {
      content: '\f10c';
      font-family: "FontAwesome", sans-serif;
      // speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      width: 1em;
      display: inline-block;
      margin-right: 8px;
      font-size: 1.5em;
    }

    &:checked + .label-text:before {
      //content: '\f046';
      content: '\f058';
      color: #7bb837;
    }
  }
}

.accent-color {
  color: #ff6600;
}

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 4px; }
.mt-2 { margin-top: 8px; }
.mt-3 { margin-top: 16px; }
.mt-4 { margin-top: 32px; }
.mt-5 { margin-top: 64px; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 4px; }
.mb-2 { margin-bottom: 8px; }
.mb-3 { margin-bottom: 16px; }
.mb-4 { margin-bottom: 32px; }
.mb-5 { margin-bottom: 64px; }
