
.live-chat-container {
  width: 100%;
  height: 450px;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #ff6600;
    font-size: 18px;
    font-family: "geomanistmedium", sans-serif;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #ffffff;
    width: 100%;

    .icon {
      margin: -5px 0 -10px -5px;
    }
    .icon-r {
      font-family: "geomanistlight", sans-serif;
      font-size: 33px;
      line-height: 25px;
      margin: -5px 2px 0 0;
      cursor: pointer;
    }
  }
  .messages {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    overflow-y: scroll;

    .message-container {
      color: #333333;
      background-color: #f5f5f5;
      border-radius: 8px;
      width: 80%;
      padding: 8px;
      font-size: 14px;
      margin: 8px 0;

      &.received {
        align-self: flex-end;
      }
    }
  }

  .input-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    textarea {
      width: 90%;
      height: 90%;
      background-color: #f5f5f5;
      border-radius: 8px;
      outline: none;
      padding: 8px;
      font-size: 14px;

      &::placeholder {
        font-family: "geomanistregular", sans-serif;
      }
    }
  }
}
