<div class="live-chat-container">
  <div class="header">
    <div class="icon"><img src="../../../assets/img/chat.png" /></div>
    <div class="title">Chat</div>
    <div class="icon-r"> &times; </div>
  </div>
  <div #messagesContainer class="messages">
    <div
      *ngFor="let message of messages"
      [ngClass]="{'sent': message.user_type=='visitor', 'received': message.user_type=='agent'}"
      class="message-container">
        <strong *ngIf="message.user_type == 'visitor'">You:</strong>
        <strong *ngIf="message.user_type == 'agent'">{{agentDetails.name}}:</strong>
        <div class="message">{{message.text}}</div>
    </div>
  </div>
  <div class="input-container">
    <textarea
      #inputMessage
      [(ngModel)]="message"
      (keyup.enter)="onSendMessage(inputMessage.value)"
      (focus)="startChat()"
      placeholder="Enter your message"></textarea>
  </div>

</div>